.container{
  height:100%;
  max-width:1000px;
  margin-left: auto;
  margin-right: auto;
  padding:0;
}

.consultation{
  padding-top:150px;
}
.consultation .container{
  /* background-color: rgba(0,0,0,0.5); */
  height:400px;
}
.consultation .consulInput{
  flex: 0 0 300px;
  height: 100%;
  box-shadow:0px 0px 30px 2px rgba(0,0,0,0.5),
  0px 0px 3px 0px rgba(0,0,0,0.8),
  0px 0px 50px 0px rgba(255,255,255,0.5)inset;
  /* background-color: rgba(255,255,255,0.5); */
  border-radius: 5px;
  max-width: 300px;
}
.consultation .consulTitle{
  width:100%;
  height:50px;
  /* background-color:rgba(255,255,255,0.3); */
  text-align: center;
}
.consultation .consulTitle span
{
  color: white;
  line-height: 50px;
  font-size:2rem;
}
.consultation .inSlide{
  flex: 1 1 700px;
  height: 100%;
}
.consultation input, .consultation textarea{
  background-color: rgba(0,0,0,0.4);
  color: white;
}
.consultation ul{
  color:white;
}
.consultation ul li{
  list-style: none;
}
.consultation .inputName{
 flex: 0 0 75px;
 margin-bottom: 0;
}
.consultation .inputText{
  flex: 0 0 175px;
  line-height:38px;
  border:none;
  box-sizing:border-box;
  max-width: 175px;
  padding: 0px 15px;
}
.inSlide .slideContent{
  text-align:center;
  color:white;
  padding-top:20px;
}